<div ng-init="init()" class="view--live-tweets">

    <div class="view-header">
        <img class="event-logo" src="assets/images/taghreed.png" alt="">
        <strong class="">Hashtag : {{eventHashtag}}</strong>
    </div>

    <div class="tweets-container">

        <div class="media tweet clearfix fx-fade-down fx-easing-bounce fx-speed-1000" ng-class="{'showd' : display == block }" ng-repeat="tweet in allTweets | reverse | limitTo : 4" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
<!--            <img ng-src="{{tweet.entities.media.media_url_https}}" alt="">-->
            </div>

        </div>

    </div>

</div>