<div class="view--top-people">

    <div class="view-header">
        <img class="event-logo" src="assets/images/taghreed.png" alt="">
        <strong class="">أنشط المغردين</strong>
    </div>

    <div class="tweets-container row">
        <div ng-repeat="item in data" class="media tweet clearfix fx-fade-down fx-easing-bounce fx-speed-1000 top-user" ng-class="">
            <div class="user-ranks">
                {{$index + 1}}
            </div>
            <div class="user-img pull-left">
                <img ng-src="{{item.profileImageUrl}}" err-SRC="http://a0.twimg.com/sticky/default_profile_images/default_profile_4.png" />
            </div>
            <div class="media-body">
                <h1 class="media-heading pull-left">
                {{item.screenName}}</h1>
                <h1 class="pull-left tweets-count">{{item.score}} Tweets</h1>
            </div>
        </div>


    </div>
</div>
