<div class="panel panel-default panel-media">
    <div class="panel-heading clearfix">
        <a ui-sref=".media" class="text-left">Media ></a>
        <span class="text-muted pull-right">{{totalMediaCount}} Pics & Videos</span>
    </div>
    <div class="panel-body">
       
        <div class="row">
<!--
fade-down
fade-down-big
fade-left
fade-left-big
fade-right
fade-right-big
fade-up
fade-up-big

bounce-normal
bounce-down
bounce-left
bounce-up
bounce-right

rotate-clock
rotate-counterclock
rotate-clock-left
rotate-counterclock-right
rotate-counterclock-up

zoom-normal
zoom-up
zoom-down
zoom-left
zoom-right
-->
            <div class="col-md-8 media-box fx-fade-normal fx-easing-quad fx-speed-100" ng-repeat-start="media in mediaQueue | orderBy:'tweetCreatedAt':true | limitTo:12">
                <a ng-click="Lightbox.openModal(mediaQueue, $index)">
                    <img class="img-responsive" lazy-load ll-src="{{media.thumb}}" on-error-src="{{defultImage}}" />
                </a>
            </div>
            <div class="clearfix row-gab" ng-if="$index%3==2"></div>
            <div ng-repeat-end=""></div>
        </div>


    </div>
</div>