<div class="panel panel-default panel-media">
    <div class="panel-heading clearfix">
        <a ui-sref=".media" class="text-left">Media ></a>
        <span class="text-muted pull-right">{{totalMedia}} Pics & Videos</span>
    </div>
    <div class="panel-body">
       
        <div class="row">
            <div class="col-md-8 media-box" ng-repeat-start="media in mediaQueue | limitTo:12">
                <a ng-click="Lightbox.openModal(mediaQueue, $index)">
                    <img class="img-responsive" lazy-load ll-src="{{media.thumb}}" on-error-src="{{defultImage}}" />
                </a>
            </div>
            <div class="clearfix row-gab" ng-if="$index%3==2"></div>
            <div ng-repeat-end=""></div>
        </div>


    </div>
</div>