<div id='top-people-panel'>
    <div class="panel panel-default panel-top-people">
    <div class="panel-heading">
        <strong class="text-left">Top People</strong>
        <span class="text-muted pull-right">{{totalUsersCount}} people</span>
    </div>
    <div class="panel-body">
        <div class="top-user-container" ng-repeat="user in topPeople | limitTo : 10">

            <img ng-src="{{user.profileImageUrl}}" on-error-src="{{defultImage}}" ns-popover ns-popover-template="popover" ns-popover-theme="ns-popover-custom-theme" ns-popover-trigger="mouseenter" ns-popover-placement="top" ns-popover-timeout=-1/>

            <script type="text/ng-template" id="popover">

                <div class="profile-sidebar" class="text-center">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img lazy-load ll-src="{{user.profileImageUrl}}" on-error-src="{{defultImage}}" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            <a href="{{twitterBaseUrl}}{{user.screenName}}" target="_blank">{{user.screenName}}</a>
                        </div>
                        <div class="profile-user-count">
                            Tweet count: {{user.score}}
                        </div>
                    </div>
            </script>
            </div>
        </div>

    </div>
</div>