<div ng-init="init()" class="view--live-tweets">
    <div class="view-header">
        <img lazy-load class="event-logo" ll-src="../../assets/images/taghreed.png" />
        <strong class="">Hashtag : {{eventHashtag}}</strong>
        <strong><timer>{{minutes}} : {{seconds}}</timer></strong>
    </div>

    <div class="tweets-container">

        <div class="media tweet clearfix fx-fade-down fx-easing-bounce fx-speed-1000" ng-class="{'lang-en' : tweet.lang == 'en', 'stared' : tweet.starred == true, 'showd' : display == block }" ng-repeat="tweet in allTweets | reverse | limitTo : 4" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">

            <span ng-show="{{tweet.starred == true}}">
                <span class="star-tweet">
                <img src="../../assets/images/star-icon.png" alt="">
                </span>
            </span>
            
            <div class="user-img pull-left">
                <img lazy-load ll-src="{{tweet.user.profile_image_url }}" on-error-src="{{defultImage}}" />
            </div>

            <div class="media-body">
               <h4 class="media-heading">
                    <strong class="tweet-userName">
                        {{tweet.user.name}}
                    </strong>
                    <span class="tweet-screenName">
                        @{{tweet.user.screen_name}}
                    </span>
                    
                </h4>
                <p class="tweet-text">{{tweet.text}}</p>
            </div>

        </div>

    </div>

</div>
