.navbar {
    background-color: rgba(lighten($green, 5%), .5);
    border: none;
    margin: 0;
    padding: $padding - 5 0;
    height: 70px;
    position: absolute;
    .navbar-logo {
        color: $white;
        @include font-size($font-large);
        font-family: $header-font;
        text-transform: uppercase;
    }
    &.header-dashboard {
        background: $green;
        padding: 10px;
        height: 20px;
        .navbar-form {
            margin-top: 0;
            .form-control {
                background: $white;
            }
        }
    }
}

.navs {
    ul {
        li {
            padding: 0;
            a {
                padding: 0 $padding / 3 $padding - 5;
                display: inline-block;
                color: $white;
            }
            &:hover {
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            &.active.hvr-underline-from-center {
                &:before {
                    background: rgb(255, 255, 255);
                    left: 0;
                    right: 0;
                }
            }
        }
        &.homepage-nav {
            margin: $margin * 2.5;
        }
    }
}

// Search in Dashboard
.start-event {
    .form-control {
        background: $white;
        padding: 0 $margin;
        @include border-left-radius(3px);
        height: 29px;
    }
    .btn.btn-search {
        @include border-right-radius(5px);
        margin-left: $margin * 2;
        padding: $padding / 3 $padding;
    }
}

.input-group {
    @include phone {
        text-align: center;
        display: inline-block;
    }
}

.nav-user {
    margin-left: $margin * 5;
    a {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    img {
        @include size(28px);
        @include border-radius(50%);
    }
    .dropdown-menu {
        background: rgba(253, 253, 253, 0.9);
        @include box-shadow(none);
        border: none;
        top: 103%;
        padding: 0;
        li {
            a {
                color: $gray;
                padding: $padding / 2 $padding / 3;
                &:hover,
                &:focus {
                    background: #015fb7;
                    color: $white;
                    display: block;
                }
            }
        }
    }
}

.search-homepage {
    .start-event {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: auto;
        position: relative;
        input {
            @include border-radius(5px);
            font-size: 20px;
            font-weight: 300;
            height: 100%;
            padding: 15px;
            background: $white;
            color: rgb(35, 35, 36);
            @include placeholderColor($gray, 0.5);
        }
        .btn.btn-search {
            z-index: 99;
            background: $green;
            @include border-radius(50%);
            @include size(40px);
            position: absolute;
            top: 15%;
            right: 0;
        }
    }
    .search-error {}
}

.header-overfold {
    min-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    z-index: 9;
    background-color: rgba(lighten($black, 5%), .75);
}

.header-homepage {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    background-image: url("../../../images/hashtails-hajj-hd-2@2x.png");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 60vh;
    color: $white;
    @include phone {
        padding: $padding * 2 0;
    }
    .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        z-index: 99;
    }
}

@media(min-width:768px) {
    .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .header-content.header-content-bottom {
        top: 93%;
        padding: 0;
        text-align: left;
        left: 3%;
        width: auto;
    }
    .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 16px;
    }
}
