.admin-moderation {
    .moderation-header {
        margin-bottom: $margin * 3;
    }
    .moderation-actions {
        a {
            @include font-size($font-tiny);
            cursor: pointer;
        }
    }
    margin: $margin * 2 0;
	nav {
		margin-bottom: $margin * 2;
	}
	.tweets-queue {
		position: relative;
	}
}
