.admin-stats {
	background: rgba(51, 51, 51, 0.85);
	padding: $padding*2 0;
	strong {
        @include font-size($font-huge);
		font-weight: normal;
        color: $white;
	}
	p {
        @include font-size($font-small);
		color: lighten($gray, 10%);
		margin: 0;
	}
}
