footer {
    padding: $padding 0;
    border-top: 1px solid $gray-light;
    margin: 0 ;
    .social-links {
        a {
            color: $gray;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
    
    &.views--footer {
        bottom: 0px;
        position: absolute;
        border: none;
        background: rgba(13, 13, 13, 0.60);
        @include size(100%, auto);
        p {
            color: $white;
            @include font-size($font-small);
        }
    }
}

.contact-section {
  width: 50%;
  margin: 0 auto 20px;
}
