body {
    background: $white;
}

.navbar {
    background-color: rgba(34, 34, 34, 0.3);
    border: none;
    padding: $padding - 5 0;
    .navbar-brand {
        padding: 0;
        height: auto;
        line-height: 30px;
    }
}

header {
    padding: $padding - 5 0;
    background: $white;
    border-bottom: 1px solid $gray-light;
    @include phone {
        text-align: center;
    }
    .logo {
        a {
            color: $black;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
    .header-buttons {
        @include phone {
            float: none !important;
        }
    }
}

.header-admin {
    .input-group {
        @include phone {
            text-align: center;
            display: inline-block;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(32, 32, 32, 0.8);
}

.header-homepage {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    background-image: url("../images/eventyzer-header.jpg");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    color: $white;
    @include phone {
        padding: $padding * 2 0;
    }
    text-align: center;
    .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        z-index: 99;
    }
    .start-event {
        margin-top: $margin * 3;
        margin-left: auto;
        margin-right: auto;
        @include size(40%,auto);
        @include phone {
            @include size(80%,auto);
        }
        input {
            @include border-radius(5px);
            color: $gray-dark;
            font-weight: 300;
            background: $white;
            height: 48px;
            &::-webkit-input-placeholder {
                color: darken($gray-dark, 17%);
            }
            &:-moz-placeholder {
                color: darken($gray-dark, 17%);
                @include opacity(1);
            }
            &::-moz-placeholder {
                color: darken($gray-dark, 17%);
                @include opacity(1);
            }
            &:-ms-input-placeholder {
                color: darken($gray-dark, 17%);
            }
        }
        .btn.btn-search {
            @include border-right-radius(5px);
            line-height: 40px;
        }
    }
}

.nav-user {
    margin-left: $margin * 5;
    a {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    img {
        @include size(28px);
        @include border-radius(50%);
    }
    .dropdown-menu {
        background: rgba(253, 253, 253, 0.9);
        @include box-shadow(none);
        border: none;
        top: 103%;
        padding: 0;
        li {
            a {
                color: $gray;
                padding: $padding / 2 $padding / 3;
                &:hover,
                &:focus {
                    background: #015fb7;
                    color: $white;
                    display: block;
                }
            }
        }
    }
}
