.keywords-tags {
	margin-top: $margin * 3;
}

tags-input {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
    .tags {
        border:none;
        box-shadow: none;
        .tag-item {
            .remove-button {
                color: $white;
            }
        }
        &.focused {
            border:none;
            box-shadow: none;
        }
    }
}

.start-event tags-input {
    min-height: 48px;
    .tags {
        .tag-item {
            margin: 12px 7px;
        }
    }
}