.tweet {
    background: $white;
    padding: $padding;
    border: 1px solid $gray-light;
    @include border-radius(5px);
    text-align: left;
    .user-img {
        float: left;
        padding-right: $padding;
    }
    img {
        @include size(72px);
    }
    .tweet-user {
        font-weight: 400px;
        @include font-size($font-large);
    }
    .tweet-content {
        width: 60%;
        word-wrap: break-word;
    }
    .media-body {
        margin-left: $margin;
    }
    .tweet-userName {
        color: $blue;
    }
    .tweet-screenName {
        font-style: italic;
        color: darken($gray-super-light, 40%);
    }
    &.tweet:first-child {
        opacity: 1;
    }
    &.tweet.stared {
        position: relative;
        border: 5px solid rgba(29, 64, 141, 1);
    }
}

.tweet.lang-ar {
    @extend .tweet;
    direction: rtl;
    text-align: right;
    .user-img {
        float: right;
        padding-right: 0;
        padding-left: $padding;
    }
    .media-body {
        margin-left: 0;
        margin-right: $margin;
    }
}

.tweets-queue {
    @include phone {
        .tweet {
            img {
                @include size(48px);
            }
            .btn-toolbar.tweet-options {
                margin-top: $margin;
            }
            .tweet-user {
                @include font-size($font-normal);
            }
            .tweet-content {
                width: 75%;
            }
        }
    }
}
