 g# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

#bower_comp
/layout/hashtag-analyzer/bower_components/

# Maven
log/
target/

# Node
/layout/event-monitoring/node_modules/
/layout/hashtag-analyzer/node_modules/

# Sass
/layout/event-monitoring/.sass-cache/
/layout/hashtag-analyzer/.sass-cache/

# HTML
/layout/data/

# JS
**/dump.rdb

# Images
*.log
/layout/logo/

configuration.yml
/layout/hashtag-analyzer/README.md
/layout/hashtag-analyzer/package.json
/layout/hashtag-analyzer/Gruntfile.js
/layout/hashtag-analyzer/dump.rdb
/dump.rdb
/tweet-board-1.0-SNAPSHOT.jar
/layout/event-monitoring/Gruntfile.js
