# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Node
/assets/node_modules/

# Sass
/assets/.sass-cache/

# HTML
/assets/data/

# JS
/dump.rdb


# Images
/assets/logo
*.log
