<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        <title>Eventyzer - A way to present how your event social impact</title>
        <meta content="initial-scale=1.0, user-scalable=no" name="viewport">

        <!-- STYLESHEET -->
        <link href="assets/stylesheets/screen.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="assets/fonts/eventboard/style.css">

        <link rel="stylesheet" type="text/css" href="assets/vendors/notifications/css/ns-default.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendors/notifications/css/ns-style-other.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendors/notifications/css/ns-style-growl.css" />

        <link rel="stylesheet" type="text/css" href="assets/vendors/animate/css/creative.css" />
        <link rel="stylesheet" type="text/css" href="assets/vendors/animate/css/animate.min.css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-app="eventAdminApp">

        <div class="ui-view"></div>

        <!-- SCRIPTS -->
        <script src="assets/vendors/jquery.min.js"></script>

        <script src="assets/vendors/notifications/js/modernizr.custom.js"></script>
        <script src="assets/vendors/angularjs/angular.js"></script>
        <script src="assets/vendors/bootstrap.min.js"></script>
        <script src="assets/vendors/widgets.js" charset="utf-8"></script>


        <script src="assets/vendors/animate/js/classie.js"></script>
        <script src="assets/vendors/animate/js/jquery.easing.min.js"></script>
        <script src="assets/vendors/animate/js/jquery.fittext.js"></script>
        <script src="assets/vendors/animate/js/wow.min.js"></script>
        <script src="assets/vendors/animate/js/creative.js"></script>

        <!-- Vendors -->
        <script src="assets/vendors/angularjs/angular-animate.min.js"></script>
        <script src="assets/vendors/angularjs/angular-route.min.js"></script>
        <script src="assets/vendors/ui-router-master/angular-ui-router.min.js"></script>
        <script src="assets/vendors/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script src="assets/vendors/angular-timer/angular-timer-all.min.js"></script>
        <script src="assets/vendors/angular-ui-switch-master/angular-ui-switch.min.js"></script>
        <script src="assets/vendors/angular-file-upload-master/angular-file-upload.js"></script>

        <script src="assets/vendors/ngFx.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="assets/vendors/highcharts/highcharts-ng.js"></script>
        <script src="assets/vendors/notifications/js/classie.js"></script>
        <script src="assets/vendors/notifications/js/notificationFx.js"></script>

        <script src="assets/scripts/directives/directives.js"></script>
        <script src="assets/scripts/filters/filters.js"></script>
        <script src="assets/scripts/services/services.js"></script>
        <script src="assets/scripts/controllers/adminControllers/blockedUsersController.js"></script>
        <script src="assets/scripts/controllers/adminControllers/trustedUsersController.js"></script>
        <script src="assets/scripts/controllers/adminControllers/superAdminController.js"></script>

        <script src="assets/scripts/uploadLogo/uploadLogoApp.js"></script>
        <script src="assets/scripts/controllers/adminControllers/startNewEventController.js"></script>
        <script src="assets/scripts/controllers/adminControllers/eventApp.js"></script>

        <script src="assets/scripts/adminApp.js"></script>
        <script src="assets/scripts/viewsApp.js"></script>


    </body>

</html>
