<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="../assets/stylesheets/screen.css">
    <link rel="stylesheet" href="../assets/fonts/eventboard/style.css">

    <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

    <!-- Header -->
    <header class="homepage-header">
       <h1 class="icon icon-massive icon-bird"></h1>
        <h1>TweetBoard</h1>
        <small>Show realtime tweets for your events</small>

        <div class="input-group start-event">
            <input type="search" id="eventHashtag" class="form-control" placeholder="#Hashtag" ng-model="eventHashtag" value="" ng-enter="startEventHandler('new_event')">
            <span class="input-group-btn">
                <button class="btn btn-search" type="button" ng-click="startEventHandler('new_event')"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </header>

    <main class="container">
        <section class="row text-center homepage-boxes">
            <article class="col-md-8">
                <span class="icon icon-bird icon icon-massive"></span>
                <h4>100% Free</h4>
                <p>We are offering this service for free .. Enjoy!</p>
            </article>
            <article class="col-md-8">
                <span class="icon icon-presentation icon icon-massive"></span>
                <h4>UI Customization</h4>
                <p>Change how the tweets are going to look like to fit for your event.</p>
            </article>
            <article class="col-md-8">
                <span class="icon icon-circle-check icon icon-massive"></span>
                <h4>Tweets Moderation</h4>
                <p>Control which tweets to show / hide during your event.</p>
            </article>
        </section>
    </main>


    <!-- Footer -->
    <footer class="container clearfix">
        <small class="text-muted pull-left">TweetBoard © 2015</small>
        <ul class="list-inline social-links pull-right">
            <li>
                <a href="">
                    <span class="icon-envelope"></span>
                </a>
            </li>

            <li>
                <a href="">
                    <span class="icon-twitter"></span>
                </a>
            </li>

            <li>
                <a href="">
                    <span class="icon-linkedin"></span>
                </a>
            </li>

            <li>
                <a href="">
                    <span class="icon-facebook"></span>
                </a>
            </li>
        </ul>
    </footer>


    <!-- SCRIPTS -->
    <script src="../assets/scripts/jquery.min.js"></script>

    <script src="../assets/scripts/angular.min.js"></script>
    <script src="../assets/scripts/bootstrap.min.js"></script>

</body>

</html>
