<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>ADMIN PANEL</title>
	<link rel="stylesheet" href="../assets/stylesheets/screen.css">

</head>

<body ng-app="eventAdminApp" ng-controller="startEventCtrl">
	<!-- HEADER	-->
	<header class="container-fluid clearfix">

		<div class="input-group pull-left start-event col-md-5">
			<input type="search" id="eventHashtag" class="form-control" placeholder="#Hashtag" ng-model="eventHashtag" value="" ng-enter="startEventHandler('new_event')">
			<span class="input-group-btn">
				<button class="btn btn-search" type="button" ng-click="startEventHandler('new_event')"><i class="fa fa-search"></i></button>
		  	</span>
		</div>

		<div class="col-md-5 col-md-offset-6">
			<img src="../assets/images/TweetBoard.png" alt="" class="admin-logo text-center">
		</div>

		<nav class="pull-right" ng-hide="!eventStarted">
			<button class="btn">Presentation <i class="fa fa-play"></i>
			</button>
			<button class="btn btn-stop" id="stopEvent" ng-click="stopEventHandler('stop_event') "><i class="fa fa-stop"></i>
			</button>
		</nav>


	</header>
	
	
	<!-- Main -->
	<main class="container">
		
		<!-- Admin Statistics -->
		<section class="admin-stats text-center">
			<div class="row">
				<article class="col-md-6">
					<strong><timer autostart="false">{{minutes}} : {{seconds}}</timer></strong>
					<p>Event time</p>
				</article>
				<article class="col-md-6">
					<strong>183</strong>
					<p>People</p>
				</article>
				<article class="col-md-6">
					<strong>{{tweetsCount}}</strong>
					<p>Tweets</p>
				</article>
				<article class="col-md-6">
					<strong>1,209</strong>
					<p>Retweets</p>
				</article>
			</div>
		</section>

		<!-- UI Customization -->
		<section class="panel panel-default admin-customization">
			<h3 class="panel-heading text-center">UI Customization</h3>
			<div class="panel-body">
				<div class="row">
					<article class="col-md-12 custom-option">
						<h6>Background color</h6>
						<ul class="list-inline layout-custom-color">
							<li><span class="color layout-black"></span>
							</li>
							<li><span class="color layout-turquoise "></span>
							</li>
							<li><span class="color layout-blue"></span>
							</li>
							<li><span class="color layout-violet"></span>
							</li>
							<li><span class="color layout-pink"></span>
							</li>
							<li><span class="color layout-green"></span>
							</li>
							<li><span class="color layout-orange"></span>
							</li>
						</ul>
					</article>
					<article class="col-md-12 custom-option">
						<h6>Layout</h6>
						<ul class="list-inline">
							<li class="col-md-8">Small</li>
							<li class="col-md-8">Medium</li>
							<li class="col-md-8">Big</li>
						</ul>
					</article>
				</div>
				<div class="row">
					<article class="col-md-12 custom-option">
						<h6>Upload your Logo</h6>
						<input type="file" name="" id="">
						<small class="text-muted">Max height: 150px  -  Max width: 650px</small>
					</article>
					<article class="col-md-12 custom-option">
						<h6>Screens</h6>
						<ul class="list-inline">
							<li class="col-md-8">
								<div class="checkbox">
									<label>
										<input type="checkbox"> Tweets
									</label>
								</div>
							</li>
							<li class="col-md-8">

								<div class="checkbox">
									<label>
										<input type="checkbox"> Top people
									</label>
								</div>
							</li>
							<li class="col-md-8">

								<div class="checkbox">
									<label>
										<input type="checkbox"> Statistics
									</label>
								</div>
							</li>
						</ul>

					</article>
				</div>
			</div>
		</section>

		<section class="container admin-moderation">
			<div class="clearfix moderation-header">
				<h3 class="text-center">Moderation</h3>
			</div>

			<nav class="clearfix">
				<ul class="list-inline pull-left tweets-nav">
					<li><i class="fa fa-times"></i> {{removedTweetsCount}} tweets</li>
					<li><i class="fa fa-check"></i> {{approvedTweetsCount}} tweets</li>
				</ul>

				<ul class="list-inline pull-right">
					<li><a href="#">Approve all</a>
					</li>
					<li ng-controller="trustedUsersModalCtrl">
						<a ng-click="open()">Trusted Users</a>
						<!-- Modal -->
						<script type="text/ng-template" id="trustedUsers.html">
							<div class="modal-window">
								<div class="modal-header">
									<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title">Trusted users</h4>
								</div>
								<div class="input-group">
									<input type="search" class="form-control" placeholder="@Username" value="" ng-model="trustedUsername" ng-enter="addTrustedUsername()">
									<span class="input-group-btn">
										<button class="btn btn-search" type="button" ng-click="addTrustedUsername()">Add</button>
									</span>
								</div>
								<div class="modal-body">

									<ul class="users-list">
										<li ng-repeat="item in items.data" class="clearfix">
										<strong>
											<a class="pull-left">
												<img ng-src="{{item.img}}">
												{{item.name}}
											</a>
											</strong>
											<a class="pull-right remove-user" ng-click="deleteTrustedUsername($index)">Remove</a>
										</li>
									</ul>
								</div>
							</div>
						</script>
					</li>
					
					
					<li ng-controller="blockedUsersModalCtrl">
						<a ng-click="open()">Blocked Users</a>
						<!-- Modal -->
						<script type="text/ng-template" id="blockedUsers.html">
							<div class="modal-window">
								<div class="modal-header">
									<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span>
									</button>
									<h4 class="modal-title">Blocked users</h4>
								</div>
								<div class="input-group">
									<input type="search" class="form-control" placeholder="@Username" value="" ng-model="blockedUsername" ng-enter="addBlockedUsername()">
									<span class="input-group-btn">
										<button class="btn btn-search" type="button" ng-click="addBlockedUsername()">Add</button>
									</span>
								</div>
								<div class="modal-body">

									<ul class="users-list">
										<li ng-repeat="item in items.data" class="clearfix">
										<strong>
											<a class="pull-left">
												<img ng-src="{{item.img}}">
												{{item.name}}
											</a>
											</strong>
											<a class="pull-right remove-user" ng-click="deleteBlockedUsername($index)">Remove</a>
										</li>
									</ul>
								</div>
							</div>
						</script>
					</li>

				</ul>
			</nav>

			<section class="tweets-queue" id="toApproveDiv">

				<button type="button" class="btn btn-load-more" ng-show="loadMoreButton()" ng-click="loadMoreTweets()"><strong><i class="fa fa-arrow-up"></i></strong> {{remainingTweetsCount}} New Tweets
				</button>

				<article class="media clearfix tweet" id="{{tweet.tweet_id}}" ng-repeat="tweet in tweetsQueue | limitTo : tweetsQueueLimit() | reverseQueue">
					<div class="pull-left">
						<!--						<img ng-src="{{tweet.profile_image_url}}" alt="" class="media-object">-->
					</div>
					<div class="tweet-content pull-left">
						<h6 class="tweet-user">
							{{tweet.name}}
							<small>
							<a href="http://twitter.com/{{tweet.screen_name}}" target="_blank">
							@ {{tweet.screen_name}} 
							</a>
							</small>
						</h6>
						<p>{{tweet.text}}</p>
						<small class="text-muted">{{tweet.country}}</small>
					</div>

					<div class="btn-toolbar pull-right tweet-options" role="toolbar" aria-label="...">

						<div class="btn-group " role="group" aria-label="...">
							<button type="button" class="btn btn-default" ng-click="approveTweet($event)"><i class="fa fa-check"></i>
							</button>
							<button type="button" class="btn btn-default" ng-click="removeTweet($event)"><i class="fa fa-times"></i>
							</button>
							<button type="button" class="btn btn-default" ng-click="approveStarred($event)"><i class="fa fa-star"></i>
							</button>
						</div>

					</div>

				</article>
			</section>

		</section>
	</main>

	<!-- Footer -->
	<footer class="container clearfix">
		<small class="text-muted pull-left">TweetBoard © 2015</small>
		<ul class="list-inline social-links pull-right">
			<li><a href="linkedin"><i class="fa fa-linkedin"></i></a>
			</li>
			<li><a href="facebook"><i class="fa fa-facebook"></i></a>
			</li>
			<li><a href="twitter"><i class="fa fa-twitter"></i></a>
			</li>
		</ul>
	</footer>


	<!-- SCRIPTS -->
	<script src="../assets/scripts/jquery.min.js"></script>

	<script src="../assets/scripts/angular.min.js"></script>
	<script src="../assets/scripts/bootstrap.min.js"></script>
	<script src="../assets/scripts/widgets.js" charset="utf-8"></script>

	<script src="../assets/scripts/angular-animate.min.js"></script>
	<script src="../assets/scripts/angular-route.min.js"></script>
	<script src="../assets/vendors/ui-bootstrap-tpls-0.12.1.min.js"></script>
	
	<script src="../assets/vendors/angular-timer-all.min.js"></script>

	<script src="../assets/scripts/eventAdminApp.js"></script>

</body>

</html>