<!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
<article class="col-md-12 custom-option" ng-controller="AppController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <h6>Upload your Logo</h6>
    <div class="media">
        <div ng-repeat="item in uploader.queue">

            <!-- Image preview -->
            <!--auto height-->
            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
            <!--auto width-->
            <div class="media-left" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100, width :100 }"></div>

            <div class="media-body">
                <strong class="pull-left">{{ item.file.name }}</strong>
                <!--fixed width and height -->
                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                <br>
                <strong ng-show="uploader.isHTML5">{{ item.file.size/1024/1024|number:2 }} MB</strong>

                <div>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>

                <div class="upload-status pull-left">
                    <span ng-show="item.isSuccess"><span class="text-success"><i class="glyphicon glyphicon-ok"></i> Uploaded</span></span>
                    <span ng-show="item.isError"><span class="text-danger"><i class="glyphicon glyphicon-remove"></i> Error</span></span>
                </div>
            </div>
        </div>

    </div>

    <div class="">

        <div ng-show="uploader.isHTML5">
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
            <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                Drop your logo
            </div>

        </div>

        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <input type="file" nv-file-select="" uploader="uploader" />
        <br/>

    </div>

    <small class="text-muted">Max height: 150px  -  Max width: 650px</small>

</article>