// Extended from button hover
// bower_components/Hover
.hvr-rectangle-out {
    @include border-radius(0);
}

.hvr-rectangle-out:active,
.hvr-rectangle-out:focus,
.hvr-rectangle-out:hover {
    color: $white;
}

.hvr-underline-from-center:before {
    background: $white;
    left: 55%;
}