// Extended from Bootstrap Panel
.panel {
    @include box-shadow(none);
    @include border-radius(5px);
    .panel-body {
        padding: $padding - 5;
    }
    .panel-heading {
        @include border-top-radius(5px);
    }
}

.panel-top-people {
    .top-user-container {
        margin-right: $margin;
        width: 17%;
        margin-bottom: $margin;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
    }
    img {
        @include size(64px);
        @include border-radius(3px);
    }
}

.panel-media {
    .row-gab,
    .row {
        margin-bottom: $margin / 2;
    }
    .media-container {
        margin-right: $margin;
        width: 30%;
        margin-bottom: $margin;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
    }
    .media-box {
        display: block;
        position: relative;
        height: 0;
        padding: 25% 0 5% 0;
        overflow: hidden;
        img {
            @include border-radius(3px);
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.panel-top-countries {
    li {
        padding: $padding - 5 0;
        border-bottom: 1px solid $gray-super-light;
    }
    &:last-child {
        border-bottom: none;
    }
}