.admin-stats {
	background: lighten($black, 20%);
	padding: $padding*2 0;
	strong {
		font-size: $font-huge;
		font-weight: normal;
        color: $white;
	}
	p {
		font-size: $font-small;
		color: lighten($gray, 10%);
		margin: 0;
	}
}
