.admin-customization {
    @include phone {
        text-align: center;
    }
    margin: $margin*3 0;
    background: $gray-super-light;
    @include border-radius(5px);
    .panel-heading {
        padding: $padding + 5 0;
        border-bottom: none;
    }
    .panel-body {
        padding: $padding * 3 $padding * 6;
        @include phone {
            padding: $padding;
        }
        @include tablet {
            padding: $padding;
        }
    }
    h6 {
        margin-bottom: $margin*3;
        @include font-size($font-large);
        font-weight: 400;
    }
    .custom-option {
        padding: $padding*2;
        min-height: 175px;
        @include phone {
            padding: $padding;
            min-height: 130px;
        }
        &:nth-child(2n+1) {
            border-right: 1px solid $gray-light;
            @include phone {
                border-right: none;
            }
        }
    }
    .first-row {
        &:nth-child(n) {
            border-bottom: 1px solid $gray-light;
            @include phone {
                border-bottom: none;
            }
        }
    }
    .save-layout-options {
        margin-top: $margin * 5;
        @include phone {
            margin-top: $margin * 2;
        }
        .btn {
            padding: $padding - 5 $padding * 2;
            background: $button-save-bg;
            @include phone {
                @include size(100%, auto);
            }
        }
    }
}

.layout-custom-color {
    li {
        margin-right: $margin * 4;
        @include phone {
            margin-right: $margin;
        }
        @include tablet {
            margin-right: $margin * 3;
        }
        &:last-child {
            margin-right: 0;
        }
        .color {
            @include size(15px);
            @include border-radius(50%);
            display: inline-block;
            cursor: pointer;
            @include transition-property(width);
            @include transition-property(height);
            @include transition-timing-function(linear);
            @include transition-duration(0.3s);
        }
        &.active {
            .color {
                @include size(25px)
            }
        }
    }
}

.layout-black {
    @extend .color;
    background: $layout-black;
}

.layout-turquoise {
    @extend .color;
    background: $layout-turquoise;
}

.layout-blue {
    @extend .color;
    background: $layout-blue;
}

.layout-violet {
    @extend .color;
    background: $layout-violet;
}

.layout-pink {
    @extend .color;
    background: $layout-pink;
}

.layout-green {
    @extend .color;
    background: $layout-green;
}

.layout-orange {
    @extend .color;
    background: $layout-orange;
}


.layout-custom-size {
    li {
        .size {
            border: 1px solid $gray-super-light;
            text-transform: capitalize;
            padding: $padding;
            @include border-radius(5%);
            cursor: pointer;
            color: darken($gray-light, 25%);
            @include transition-property(border);
            @include transition-property(color);
            @include transition-timing-function(linear);
            @include transition-duration(0.3s);
        }
        &.active {
            .size {
                border: 1px solid $gray-light;
                color: $gray;
            }
        }
    }
}
