footer {
    padding: $padding - 5 0 0;
    border-top: 1px solid $gray-light;
    margin: $margin*3 0 $margin;
    .social-links {
        a {
            color: $gray;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
    &.views--footer {
        bottom: 0;
        position: absolute;
        border: none;
        background:#166398;
        @include size(100%, 40px);
        padding: 10px 0;
        p {
            color: $white;
            font-size: $font-normal;
        }
    }
}

