.homepage-boxes {
    margin: $margin * 5 0;
    .icon {
        color: $dark-green;
    }
    h4 {
        @include font-size($font-normal);
        margin: $margin 0;
    }
    p {
        @include font-size($font-small);
        color: lighten($gray-dark, 30%);
        font-weight: 200;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}
