.event-views {
	text-align: center;
	background: $blue;

	// Layout Sizes
	&.small {
		strong {
			font-size: 12px;
		}
	}
	&.normal {
		strong {
			font-size: 21px;
		}
	}
	&.large {
		strong {
			font-size: 36px;
		}
	}

	// Layout Colors
	&.black {
		background: $black;
	}
	&.turquoise {
		background: $turquoise;
	}
	&.violet {
		background: $violet;
	}
	&.pink {
		background: $pink;
	}
	&.green {
		background: $green;
	}
	&.orange {
		background: $orange;
	}
	&.blue {
		background: $blue;
	}
}

.event-ui-views {
    .view-header {
        margin: $margin * 2 auto;
        strong {
            color: $white;
            vertical-align: middle;
            font-size: $font-huge;
            margin-left: $margin * 4;
        }

    }

    .user-img img {
        @include size(92px);
        @include border-radius(10%);
    }


    // Views : Live Tweets
    .view--live-tweets {
        .tweets-container {
            margin: 0 auto;
            height: 750px;
        }
        .media-heading {
            color: $blue;
            font-size: 40px;
            text-align: right;
            margin-right: 15px;
        }
        .media-body {
            text-align: right;
            margin-top: 20px;
            width: 100%;
        }
        .tweet-text {
            font-size: 48px;
        }

    }

    // Views : Top People
    .view--top-people {
        .tweets-container {
            overflow: visible;
        }
        .media-heading {
            color: $layout-blue;
            width: 40%;
        }
        .media-body {
            text-align: right;
//            vertical-align: middle;
//            width: 700px;
//            display: inline-block;
            margin-top: $margin * 2 0;
            text-align: right;
        }
        .tweets-count {
            margin-left: $margin * 6;
        }
        .user-ranks {
            position: absolute;
            top: 20px;
            background: $layout-pink;
            @include border-radius(50%);
            right: 20px;
            width: 70px;
            height: 70px;
            line-height: 65px;
            border: 3px solid #fff;
            color: $white;
            font-size: $font-huge;
            font-weight: bold;
            text-align: center;
        }
    }

    // Views : Tweets Over Time
    .view--tweets-overtime {
        .tweets-count {
            font-size: 60px;
            margin-top: 30px;
            color: $white;
        }

    }
}

// {
//    background: #0025c0 url(../images/taghreed.jpg) center no-repeat;
//    background-position: center -180px;
//}

//#live-tweets .star-tweet {
//	position: absolute;
//	top: -20%;
//	left: -35px;
//}



// Fix user rank issue
.media,
.media-body {
	overflow: visible;
}
