.tweet {
	background: $white;
	padding: $padding;
	border: 1px solid $gray-light;
	@include border-radius(5px);
    text-align: left;
	img {
		width: 72px;
		height: 72px;
	}
	h6 {
		font-weight: 400px;
		font-size: $font-large;
	}
	.tweet-content {
		width: 60%;
	}
    &.tweet:first-child {
    	opacity: 1;
    }
    &.tweet.stared {
        position: relative;
        border: 5px solid rgba(29, 64, 141, 1);
    }

}
