<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="../assets/stylesheets/screen.css">
    <link rel="stylesheet" href="../assets/fonts/eventboard/style.css">

    <link rel="stylesheet" type="text/css" href="../assets/vendors/notifications/css/ns-default.css" />
    <link rel="stylesheet" type="text/css" href="../assets/vendors/notifications/css/ns-style-other.css" />
    <link rel="stylesheet" type="text/css" href="../assets/vendors/notifications/css/ns-style-growl.css" />

    <!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body ng-app="eventAdminApp" ng-controller="SuperAdminCtrl">

    <!-- Main -->
    <main class="container">
    <h1 class="text-center alert">
        Running Events On Server
    </h1>
    <table class="table table-responsive table-striped table-hover">
       <thead>
           <tr>
               <th>ID</th>
               <th>Start Time</th>
               <th>UUID</th>
               <th>HashTags</th>
               <th>Kill Event</th>
           </tr>
       </thead>
        <tbody>
            <tr ng-repeat="event in serverEvents" id="{{event.uuid}}">
               <td>
                   {{$index+1}}
               </td>
                <td>
                    {{event.startTime}}
                </td>
                <td>
                    {{event.uuid}}
                </td>
                <td>
                    {{event.hashTags}}
                </td>
                <td>
                    <button class="btn btn-sm btn-stop" ng-click="killEvent($event)">Kill</button>
                </td>
            </tr>
        </tbody>
    </table>
    </main>

    <!-- Footer -->
    <footer class="container clearfix">
        <small class="text-muted pull-left">TweetBoard © 2015</small>
        <ul class="list-inline social-links pull-right">
            <li>
                <a href="">
                    <span class="icon-envelope"></span>
                </a>
            </li>

            <li>
                <a href="">
                    <span class="icon-twitter"></span>
                </a>
            </li>

            <li>
                <a href="">
                    <span class="icon-linkedin"></span>
                </a>
            </li>

            <li>
                <a href="">
                    <span class="icon-facebook"></span>
                </a>
            </li>
        </ul>
    </footer>

    <!-- SCRIPTS -->
    <script src="../assets/scripts/jquery.min.js"></script>
    <script src="../assets/vendors/notifications/js/modernizr.custom.js"></script>
    <script src="../assets/scripts/angular.min.js"></script>
    <script src="../assets/scripts/bootstrap.min.js"></script>
    <script src="../assets/scripts/widgets.js" charset="utf-8"></script>

    <!-- Vendors -->
    <script src="../assets/scripts/angular-animate.min.js"></script>
    <script src="../assets/scripts/angular-cookies.min.js"></script>
    <script src="../assets/scripts/angular-route.min.js"></script>
    <script src="../assets/vendors/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="../assets/vendors/angular-timer-all.min.js"></script>

    <script src="../assets/vendors/angular-file-upload/angular-file-upload.min.js"></script>

    <script src="../assets/scripts/adminApp.js"></script>

    <script src="../assets/vendors/notifications/js/classie.js"></script>
    <script src="../assets/vendors/notifications/js/notificationFx.js"></script>


</body>

</html>