<article class="media clearfix tweet">
	<div class="pull-left">
		<img src="../assets/images/user-image-1.png" alt="" class="media-object">
	</div>
	<div class="tweet-content pull-left">
		<h6 class="tweet-user">BatMan</h6>
		<p>I am not that dark, they just make me act like that.. btw, this suit is quite tight and I can't fly with it.. criminals are getting away.....</p>
	</div>

	<div class="btn-toolbar pull-right tweet-options" role="toolbar" aria-label="...">

		<div class="btn-group " role="group" aria-label="...">
			<button type="button" class="btn btn-default"><i class="fa fa-check"></i>
			</button>
			<button type="button" class="btn btn-default"><i class="fa fa-times"></i>
			</button>
			<button type="button" class="btn btn-default"><i class="fa fa-star"></i>
			</button>
		</div>

		<div class="btn-group" role="group" aria-label="...">



		</div>
	</div>

</article>