<div class="view--top-people">

    <div class="view-header clearfix">
        <strong class="pull-left">
            <img lazy-load class="event-logo" on-error-src="{{defultEventLogo}}" ng-src="../../assets/images/{{eventID}}/logo.png" width="75px"/>
            <h3 class="visible-lg-inline-block"><strong ng-repeat="tag in hashtag">{{tag}}{{$last ? '' : ' - '}}</strong> <span>Active Users</span></h3>
            <!-- <span>Time to next screen <timer countdown="topPeopleTimeout" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer></span> -->
        </strong>
        <strong class="pull-right">
            <a href="http://www.gistic.org">
                <img lazy-load class="event-logo" on-error-src="{{defultEventLogo}}" ng-src="../../assets/images2/{{eventID}}/logo.png" width="75px"/>
                <!-- <img src="../../assets/images/gisitc-logo.png" width="125px" alt=""> -->
            </a>
        </strong>
    </div>

    <div class="tweets-container row">
        <div ng-repeat="user in data | limitTo : 4" class="media tweet lang-en clearfix fx-fade-down fx-easing-bounce fx-speed-1000 top-user">
            <div class="user-img pull-left">
                <img ng-src="{{user.profileImageUrl}}" err-SRC="http://a0.twimg.com/sticky/default_profile_images/default_profile_4.png" />
            </div>
            <div class="media-body pull-right">
                <h1 class="media-heading">
                {{user.screenName}}
                    <div class="pull-right user-ranks">
                    {{$index + 1}}
                    </div>
                </h1>
                <h1 class="tweets-count">{{user.score}} Tweets</h1>
            </div>
        </div>
    </div>
</div>
