<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>EventBoard - Live presentation</title>
    <meta content="initial-scale=1.0, user-scalable=no" name="viewport">

    <!-- STYLESHEET -->
    <link href="../../prod/assets/stylesheets/screen.min.css" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body ng-app="eventViewsApp" ng-controller="layoutCtrl" id="live-view" ng-init="initViewsOptions()" class="event-views" ng-class="[userColor, userSize]">

    <div class="container event-ui-views">
        <div class="ui-view"></div>
    </div>

    <!-- <footer class="views--footer">
       <img src="../../assets/images/gisitc-logo.png" width="100px" alt="">
        <p>This is a product of KACST GIS Technology Innovation Center <strong>(GISITC)</strong>, UQU</p>
    </footer> -->

    <!-- SCRIPTS -->
    <script src="../../assets/vendors/jquery.min.js"></script>
    <script src="../../assets/vendors/angularjs/angular.js"></script>
    <script src="../../assets/vendors/bootstrap.min.js"></script>
    <script src="../../assets/vendors/widgets.js" charset="utf-8"></script>


    <!-- Vendors -->
    <script src="../../assets/vendors/angularjs/angular-animate.min.js"></script>
    <script src="../../assets/vendors/angularjs/angular-route.min.js"></script>
    <script src="../../assets/vendors/ui-router-master/angular-ui-router.min.js"></script>
    <script src="../../assets/vendors/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="../../assets/vendors/angular-timer/angular-timer-all.min.js"></script>
    <script src="../../assets/vendors/angular-ui-switch-master/angular-ui-switch.min.js"></script>
    <script src="../../assets/vendors/angular-file-upload-master/angular-file-upload.js"></script>

    <!-- Vendors : View Only -->
    <script src="../../assets/vendors/ngFx.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="../../assets/vendors/highcharts/highcharts-ng.js"></script>
   
    
    <script src="../../prod/assets/scripts/directives/directives.js"></script>
    <script src="../../prod/assets/scripts/filters/filters.js"></script>
    <script src="../../prod/assets/scripts/services/services.js"></script>
    <script src="../../prod/assets/scripts/uploadLogo/uploadLogoApp.js"></script>
    
    <script src="../../prod/assets/scripts/controllers/adminControllers/superAdminController.js"></script>
    <script src="../../prod/assets/scripts/controllers/adminControllers/trustedUsersController.js"></script>
    <script src="../../prod/assets/scripts/controllers/adminControllers/blockedUsersController.js"></script>
    <script src="../../prod/assets/scripts/controllers/adminControllers/startNewEventController.js"></script>
    <script src="../../prod/assets/scripts/controllers/adminControllers/eventApp.js"></script>
    
    <script src="../../prod/assets/scripts/controllers/viewsControllers/viewsLayoutController.js"></script>
    <script src="../../prod/assets/scripts/controllers/viewsControllers/liveStreamController.js"></script>
    <script src="../../prod/assets/scripts/controllers/viewsControllers/activePeopleController.js"></script>
    <script src="../../prod/assets/scripts/controllers/viewsControllers/tweetsOverTimeController.js"></script>
        
    <script src="../../prod/assets/scripts/adminApp.js"></script>
    <script src="../../prod/assets/scripts/viewsApp.js"></script>

</body>

</html>
