<div class="view--tweets-overtime">
    <div class="view-header clearfix">
        <strong class="pull-left">
            <img lazy-load class="event-logo" on-error-src="{{defultEventLogo}}" ng-src="../../assets/images/{{eventID}}/logo.png" width="75px"/>
            <h3 class="visible-lg-inline-block">
                
                <strong ng-repeat="tag in hashtag">{{tag}}{{$last ? '' : ' - '}}</strong>
                <span>Tweets Over Time</span>
            </h3>
            <!-- <span>Time to next screen <timer countdown="tweetsOverTimeTimeout" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer></span> -->
        </strong>
        <strong class="pull-right">
            <a href="http://www.gistic.org">
                <img lazy-load class="event-logo" on-error-src="{{defultEventLogo}}" ng-src="../../assets/images2/{{eventID}}/logo.png" width="75px"/>
                <!-- <img src="../../assets/images/gisitc-logo.png" width="125px" alt=""> -->
            </a>
        </strong>
    </div>
    <highchart id="chart1" config="chartConfig" class=""></highchart>
    <h2 class="pg-hd tweets-count">
            Live : {{totalTweets}} tweets
    </h2>
</div>