<!-- HEADER -->
<header class="container clearfix header-admin">
    <h2 class="logo pull-left ">
    <a ui-sref="home">Eventyzer</a>
  </h2>
    <nav class="pull-right header-buttons">
        <a class="btn" ng-click="goLive()" ng-href="" target="_blank">
      Presentation
      <i class="icon-controller-play"></i>
    </a>
    </nav>
</header>
<aside class="container-fluid">
    <!-- Admin Statistics -->
    <section class="admin-stats text-center row">
        <article class="col-md-6">
            <strong>
        <timer start-time="startTimeMilliseconds">
          {{hours}} : {{minutes}} :{{seconds}}
        </timer>
      </strong>
            <p>Event time</p>
        </article>
        <article class="col-md-6">
            <strong>{{numberOfUsers}}</strong>
            <p>People</p>
        </article>
        <article class="col-md-6">
            <strong>{{tweetsCount}}</strong>
            <p>Tweets</p>
        </article>
        <article class="col-md-6">
            <strong>{{totalRetweets}}</strong>
            <p>Retweets</p>
        </article>
    </section>
</aside>

<main class="container keywords-tags">
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label for="keywords">Keywords</label>
                {{keywords}}
            </div>
        </form>
    </div>
</main>

<main class="container">
    <!-- UI Customization -->
    <section class="panel panel-default admin-customization">
        <h3 class="panel-heading text-center clearfix">UI Customization

      <a aria-controls="panelBody" ng-click="preventDefault($event)" id="collapse-btn" aria-expanded="true" class="btn btn-sm" data-toggle="collapse" href="#panelBody" role="button">collapse</a>

    </h3>
        <div class="panel-body collapse" id="panelBody">
            <div class="row first-row">
                <article class="col-md-12 custom-option">
                    <h6>Background color</h6>
                    <ul class="list-inline layout-custom-color">
                        <li ng-class="{active: layoutColors[$index] == userColor}" ng-click="layoutColor($index)" ng-repeat="color in layoutColors">
                            <span class="color layout-{{color}}"></span>
                        </li>
                    </ul>
                </article>
                <article class="col-md-12 custom-option">
                    <h6>Layout</h6>
                    <ul class="list-inline layout-custom-size">
                        <li class="col-md-8" ng-class="{active: layoutSizes[$index] == userSize}" ng-click="layoutSize($index)" ng-repeat="size in layoutSizes">
                            <span class="size layout-{{size}}">{{size}}</span>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="row">
                <article class="col-md-12 custom-option">
                    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <div ng-controller="AppController" nv-file-drop="" uploader="uploader">
                        <div class="">
                            <div class="row">
                                <div class="col-md-24">
                                    <div ng-show="uploader.isHTML5">
                                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                                            Base drop zone
                                        </div>
                                    </div>
                                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                    <input nv-file-select="" type="file" uploader="uploader" />
                                    <br/>
                                </div>
                                <div class="col-md-24">
                                    <div ng-repeat="item in uploader.queue">
                                        <div>
                                            <strong>{{ item.file.name }}</strong>
                                            <!-- Image preview -->
                                            <!--auto height-->
                                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                            <!--auto width-->
                                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100, width:100 }"></div>
                                            <!--fixed width and height -->
                                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                        </div>
                                        <div ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB
                                        </div>
                                        <div ng-show="uploader.isHTML5">
                                            <div class="progress">
                                                <div class="progress-bar" ng-style="{ 'width': item.progress + '%' }" role="progressbar"></div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span ng-show="item.isSuccess">
                                                <i class="fa fa-ok"></i>
                                            </span>
                                            <span ng-show="item.isError">
                                                <i class="fa fa-remove"></i>
                                            </span>
                                        </div>
                                        <div nowrap>
                                            <button class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" type="button">
                                                <span class="fa fa-upload"></span> Upload
                                            </button>
                                            <button class="btn btn-danger btn-xs" ng-click="item.remove()" type="button">
                                                <span class="fa fa-trash"></span> Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="col-md-12 custom-option">
                    <h6>Screens</h6>
                    <ul class="row">
                        <li class="" ng-repeat="(key, value) in layoutScreens">
                            <div class="checkbox">
                                <label class="col-md-6">
                                    <input ng-checked="value.selected==true" ng-model="value.selected" type="checkbox" /> {{value.name}}
                                    <input type="text" name="" id="">
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="text-right save-layout-options">
                        <button aria-controls="panelBody" aria-expanded="true" class="btn" data-toggle="collapse" href="#panelBody" ng-click="updateViewOptions()">
                            Save
                        </button>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="container admin-moderation">
        <div class="row clearfix moderation-header">
            <h3 class="text-center clearfix">Moderation
        <switch class="wide" name="enableModeration" ng-change="moderationStatus" ng-model="enableModeration" off="Off" on="On"></switch>
      </h3>
        </div>
        <div class="row clearfix">
            <ul class="list-inline pull-left moderation-actions">
                <li>
                    <a ng-click="approveAllTweets()">Approve all</a>
                </li>
                <li ng-controller="TrustedUsersModalController">
                    <a ng-click="open()">Trusted Users</a>
                    <!-- Modal -->
                    <script id="trustedUsers.html" type="text/ng-template">
                        <div class="modal-window">
                            <div class="modal-header">
                                <button class="close" ng-click="cancel()" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Trusted users</h4>
                            </div>
                            <div class="input-group">
                                <input class="form-control" ng-enter="updateTrustedUsers(trustedUsername)" ng-model="trustedUsername" placeholder="@Username" type="search" value="">
                                <span class="input-group-btn">
                  <button class="btn btn-search" ng-click="updateTrustedUsers()" type="button">Add</button>
                </span>
                            </div>
                            <div class="modal-body">
                                <ul class="users-list">
                                    <li class="clearfix" ng-repeat="user in trustedUsers">
                                        <strong>
<!-- <img ng-src="logo.png" err-SRC="http://a0.twimg.com/sticky/default_profile_images/default_profile_4.png" /> -->
                      <a ng-href="{{twitterBaseUrl}}{{user}}" target="_blank">
                        {{user}}
                      </a>
                    </strong>
                                        <a class="pull-right remove-user" ng-click="deleteTrustedUsername($index)">Remove</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </script>
                </li>
                <li ng-controller="BlockedUsersModalController">
                    <a ng-click="open()">Blocked Users</a>
                    <!-- Modal -->
                    <script id="blockedUsers.html" type="text/ng-template">
                        <div class="modal-window">
                            <div class="modal-header">
                                <button class="close" ng-click="cancel()" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Blocked users</h4>
                            </div>
                            <div class="input-group">
                                <input class="form-control" ng-enter="updateBlockedUsers()" ng-model="blockedUsername" placeholder="@Username" type="search" value="">
                                <span class="input-group-btn">
                  <button class="btn btn-search" ng-click="updateBlockedUsers()" type="button">Add</button>
                </span>
                            </div>
                            <div class="modal-body">
                                <ul class="users-list">
                                    <li class="clearfix" ng-repeat="user in blockedUsers">
                                        <strong>
<!-- <img ng-src="logo.png" err-SRC="http://a0.twimg.com/sticky/default_profile_images/default_profile_4.png" /> -->
                      <a ng-href="{{twitterBaseUrl}}{{user}}" target="_blank">
                        {{user}}
                      </a>
                    </strong>
                                        <a class="pull-right remove-user" ng-click="deleteBlockedUsername($index)">Remove</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </script>
                </li>
                <li>
                    <switch class="small wide-2x" name="showRetweets" ng-change="retweetsStatus" ng-model="showRetweets" off="Retweets Off" on="Retweets On"></switch>
                </li>
            </ul>
        </div>
        <section class="tweets-queue" id="toApproveDiv">
            <button class="btn btn-load-more" ng-click="loadMoreTweets()" ng-show="loadMoreButton()" type="button">
                <strong>
          <i class="fa fa-arrow-up"></i>
        </strong> {{remainingTweetsCount}} New Tweets
            </button>
            <article class="media clearfix tweet" data-user-id="{{tweet.user.id_str}}" id="{{tweet.id_str}}" ng-repeat="tweet in tweetsQueue | limitTo : tweetsQueueLimit()">
                <div class="pull-left">
                    <img class="media-object" lazy-load ll-src="{{tweet.user.original_profile_image_urlhttps}}" on-error-src="{{defultImage}}" />
                </div>
                <div class="tweet-content pull-left">
                    <h6 class="tweet-user">
            {{tweet.user.name}}
            <small>
              <a href="{{twitterBaseUrl}}{{tweet.user.screen_name}}" target="_blank">
                @
                {{tweet.user.screen_name}}
              </a>
            </small>
          </h6>
                    <p>{{tweet.text}}</p>
                    <small class="text-muted">Country :
            {{tweet.user.country || "none"}}</small>
                    <br>
                    <small class="text-muted">Location :
            {{tweet.user.location || "none"}}</small>
                </div>
                <div class="btn-toolbar pull-right tweet-options" role="toolbar">
                    <div class="btn-group " role="group">
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="approveTweet($event)" tooltip-placement="top" tooltip="Approve tweet" type="button">
                            <i class="icon-check"></i>
                        </button>
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="approveStarred($event)" tooltip-placement="top" tooltip="Approve tweet as starred" type="button">
                            <i class="icon-star"></i>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="removeTweet($event)" tooltip-placement="top" tooltip="Remove tweet" type="button">
                            <i class="icon-cross"></i>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="updateTrustedUsers($event, tweet.user.screen_name, tweet.user.original_profile_image_urlhttps, tweet.user.id)" tooltip-placement="top" tooltip="Add user to trusted list" type="button">
                            <i class="icon-add-user"></i>
                        </button>
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="updateBlockedUsers($event, tweet.user.screen_name, tweet.user.original_profile_image_urlhttps, tweet.user.id)" tooltip-placement="top" tooltip="Add user to blocked list" type="button">
                            <i class="icon-remove-user"></i>
                        </button>
                    </div>
                </div>
            </article>
        </section>
    </section>
</main>
