<!-- HEADER -->
<header class="clearfix header-admin">

    <div class="container">

        <a class="logo" ui-sref="home">
            <span class="navbar-brand">
                <strong class="icon icon-small icon-bird"></strong> Eventyzer
            </span>
        </a>

        <div class="navs pull-right clearfix">
        
            <ul class="list-inline pull-left">
                <li class="nav-user dropdown" ng-show="logedInUser">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">
                        <img lazy-load ng-src="{{authoUserPicture}}" on-error-src="{{defultImage}}" class="" /> {{authoUserName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-href="https://twitter.com/intent/user?user_id={{authoUserID}}" target="_blank">Go to profile</a>
                        </li>
                        <li>
                            <a ng-click="logOutUser()">Logout</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a ng-click="twitterLogIn()" ng-hide="logedInUser" class="btn btn-block btn-social btn-twitter btn-rounded">
                        <i class="icon-twitter"></i> Sign in with Twitter
                    </a>
                </li>

            </ul>

            <a class="btn" ng-click="goLive()" ng-href="" target="_blank">
              Presentation
              <i class="icon-controller-play"></i>
            </a>

        </div>

    </div>
</header>

<aside class="container-fluid">
    <!-- Admin Statistics -->
    <section class="admin-stats text-center row">
        <article class="col-md-6">
            <strong>
        <timer start-time="startTimeMilliseconds">
          {{hours}} : {{minutes}} :{{seconds}}
        </timer>
      </strong>
            <p>Event time</p>
        </article>
        <article class="col-md-6">
            <strong>{{numberOfUsers}}</strong>
            <p>People</p>
        </article>
        <article class="col-md-6">
            <strong>{{tweetsCount}}</strong>
            <p>Tweets</p>
        </article>
        <article class="col-md-6">
            <strong>{{totalRetweets}}</strong>
            <p>Retweets</p>
        </article>
    </section>
</aside>

<aside class="container keywords-tags">
    <div class="row">
        <h3>
            <span for="keywords">Keywords</span>
            <ul class="inline-list">
                <li ng-repeat="keyword in keywords">{{keyword}}</li>
            </ul>
        </h3>
    </div>
</aside>

<main class="container">
    <!-- UI Customization -->
    <section class="panel panel-default admin-customization">
        <h3 class="panel-heading text-center clearfix">UI Customization
            <a aria-controls="panelBody" ng-click="preventDefault($event)" id="collapse-btn" aria-expanded="true" class="btn btn-sm" data-toggle="collapse" href="#panelBody" role="button">collapse</a>
        </h3>
        <div class="panel-body collapse" id="panelBody">
            <div class="row first-row">
                <article class="col-md-12 custom-option">
                    <h6>Background color</h6>
                    <ul class="list-inline layout-custom-color">
                        <li ng-class="{active: layoutColors[$index] == userColor}" ng-click="layoutColor($index)" ng-repeat="color in layoutColors">
                            <span class="color layout-{{color}}"></span>
                        </li>
                    </ul>
                </article>
                <article class="col-md-12 custom-option">
                    <h6>Layout</h6>
                    <ul class="list-inline layout-custom-size">
                        <li class="col-md-8" ng-class="{active: layoutSizes[$index] == userSize}" ng-click="layoutSize($index)" ng-repeat="size in layoutSizes">
                            <span class="size layout-{{size}}">{{size}}</span>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="row">
                <article class="col-md-12 custom-option upload-logos">


                <div class="row">
                    <div ng-controller="AppController" nv-file-drop="" uploader="uploader">

                        <h6>Right logo</h6>
                        <input type="file" nv-file-select="" uploader="uploader" />
                        <div class="col-md-24">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="50%">Name</th>
                                        <th ng-show="uploader.isHTML5">Progress</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td>
                                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 50, height:50 }"></div>
                                            <span ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>
                                        </td>
                                        <td ng-show="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                Upload
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                Remove
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>

                    <div class="row">

                        <div ng-controller="AppController" nv-file-drop="" uploader="uploadLeftLogo">

                            <h6>Left logo</h6>
                            <input type="file" nv-file-select="" uploader="uploadLeftLogo" />
                            <div class="col-md-24">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploadLeftLogo.isHTML5">Progress</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploadLeftLogo.queue">
                                            <td>
                                                <div ng-show="uploadLeftLogo.isHTML5" ng-thumb="{ file: item._file, height: 50, height:50 }"></div>
                                                <span ng-show="uploadLeftLogo.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>
                                            </td>
                                            <td ng-show="uploadLeftLogo.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    Upload
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                </article>
                <article class="col-md-12 custom-option">
                    <h6>Screens</h6>
                    <ul class="row">
                        <li class="col-md-8" ng-repeat="(key, value) in layoutScreens">
                            <div class="checkbox">
                                <label class="">
                                    <input ng-checked="value.selected==true" ng-model="value.selected" type="checkbox" /> {{value.name}}
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="text-right save-layout-options">
                        <button aria-controls="panelBody" aria-expanded="true" class="btn" data-toggle="collapse" href="#panelBody" ng-click="updateViewOptions()">
                            Save
                        </button>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- ENDOF UI Customization -->
    <!-- Admin Moderation -->
    <section class="container admin-moderation">
        <div class="row clearfix moderation-header">
            <h3 class="text-center clearfix">Moderation
        <switch class="wide" name="enableModeration" ng-change="moderationStatus" ng-model="enableModeration" off="Off" on="On"></switch>
      </h3>
        </div>
        <div class="row clearfix">
            <ul class="list-inline pull-left moderation-actions">
                <li>
                    <a ng-click="approveAllTweets()">Approve all</a>
                </li>
                <li ng-controller="TrustedUsersModalController">
                    <a ng-click="open()">Trusted Users</a>
                    <!-- Modal -->
                    <script id="trustedUsers.html" type="text/ng-template">
                        <div class="modal-window">
                            <div class="modal-header">
                                <button class="close" ng-click="cancel()" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Trusted users</h4>
                            </div>
                            <div class="input-group">
                                <input class="form-control" ng-enter="updateTrustedUsers(trustedUsername)" ng-model="trustedUsername" placeholder="@Username" type="search" value="">
                                <span class="input-group-btn">
                  <button class="btn btn-search" ng-click="updateTrustedUsers()" type="button">Add</button>
                </span>
                            </div>
                            <div class="modal-body">
                                <ul class="users-list">
                                    <li class="clearfix" ng-repeat="user in trustedUsers">
                                        <strong>
                      <a ng-href="{{twitterBaseUrl}}{{user}}" target="_blank">
                        {{user}}
                      </a>
                    </strong>
                                        <a class="pull-right remove-user" ng-click="deleteTrustedUsername($index)">Remove</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </script>
                </li>
                <li ng-controller="BlockedUsersModalController">
                    <a ng-click="open()">Blocked Users</a>
                    <!-- Modal -->
                    <script id="blockedUsers.html" type="text/ng-template">
                        <div class="modal-window">
                            <div class="modal-header">
                                <button class="close" ng-click="cancel()" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Blocked users</h4>
                            </div>
                            <div class="input-group">
                                <input class="form-control" ng-enter="updateBlockedUsers()" ng-model="blockedUsername" placeholder="@Username" type="search" value="">
                                <span class="input-group-btn">
                  <button class="btn btn-search" ng-click="updateBlockedUsers()" type="button">Add</button>
                </span>
                            </div>
                            <div class="modal-body">
                                <ul class="users-list">
                                    <li class="clearfix" ng-repeat="user in blockedUsers">
                                        <strong>
                      <a ng-href="{{twitterBaseUrl}}{{user}}" target="_blank">
                        {{user}}
                      </a>
                    </strong>
                                        <a class="pull-right remove-user" ng-click="deleteBlockedUsername($index)">Remove</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </script>
                </li>
                <li>
                    <switch class="small wide-2x" name="showRetweets" ng-change="retweetsStatus" ng-model="showRetweets" off="Retweets Off" on="Retweets On"></switch>
                </li>
            </ul>
        </div>
        <section class="tweets-queue" id="toApproveDiv">
            <button class="btn btn-load-more" ng-click="loadMoreTweets()" ng-show="loadMoreButton()" type="button">
                <strong>
                    <i class="fa fa-arrow-up"></i>
                </strong> {{remainingTweetsCount}} New Tweets
            </button>
            <article class="media clearfix tweet" data-user-id="{{tweet.user.id_str}}" id="{{tweet.id_str}}" ng-repeat="tweet in tweetsQueue | limitTo : tweetsQueueLimit() track by $index">
                <div class="pull-left">
                    <img class="media-object" lazy-load ng-src="{{tweet.user.original_profile_image_urlhttps}}" on-error-src="{{defultImage}}" />
                </div>
                <div class="tweet-content pull-left">
                    <h6 class="tweet-user">
            {{tweet.user.name}}
            <small>
              <a href="{{twitterBaseUrl}}{{tweet.user.screen_name}}" target="_blank">
                @
                {{tweet.user.screen_name}}
              </a>
            </small>
          </h6>
                    <p>{{tweet.text}}</p>
                    <small class="text-muted">Country :
            {{tweet.user.country || "none"}}</small>
                    <br>
                    <small class="text-muted">Location :
            {{tweet.user.location || "none"}}</small>
                </div>
                <div class="btn-toolbar pull-right tweet-options" role="toolbar">
                    <div class="btn-group " role="group">
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="approveTweet($event)" tooltip-placement="top" tooltip="Approve tweet" type="button">
                            <i class="icon-check"></i>
                        </button>
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="approveStarred($event)" tooltip-placement="top" tooltip="Approve tweet as starred" type="button">
                            <i class="icon-star"></i>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="removeTweet($event)" tooltip-placement="top" tooltip="Remove tweet" type="button">
                            <i class="icon-cross"></i>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="updateTrustedUsers($event, tweet.user.screen_name, tweet.user.original_profile_image_urlhttps, tweet.user.id)" tooltip-placement="top" tooltip="Add user to trusted list" type="button">
                            <i class="icon-add-user"></i>
                        </button>
                        <button class="btn btn-default hvr-rectangle-out" data-id="{{$index}}" ng-click="updateBlockedUsers($event, tweet.user.screen_name, tweet.user.original_profile_image_urlhttps, tweet.user.id)" tooltip-placement="top" tooltip="Add user to blocked list" type="button">
                            <i class="icon-remove-user"></i>
                        </button>
                    </div>
                </div>
            </article>
        </section>
    </section>
    <!-- ENDOF Admin Moderation -->
</main>
