<div class="wrapper" ng-init="initHomepage()">
    
    <!-- Nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <span class="navbar-brand">
                <strong class="icon icon-small icon-bird"></strong> Eventyzer
            </span>

            <div class="navs pull-right clearfix">
            
                <ul class="list-inline pull-left">
                    <li class="nav-user dropdown" ng-show="logedInUser">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">
                            <img lazy-load ng-src="{{authoUserPicture}}" on-error-src="{{defultImage}}" class="" /> {{authoUserName}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-href="https://twitter.com/intent/user?user_id={{authoUserID}}" target="_blank">Go to profile</a>
                            </li>
                            <li>
                                <a ng-click="logOutUser()">Logout</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a ng-click="twitterLogIn()" ng-hide="logedInUser" class="btn btn-block btn-social btn-twitter btn-rounded">
                            <i class="icon-twitter"></i> Sign in with Twitter
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>

    <!-- Header -->

    <header id="header" class="header-homepage">
        <div class="overlay"></div>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Show realtime tweets for your events</h1>
                <hr>
                <p><strong>Eventyzer</strong> updates in sub-second realtime. Don't make your event-goers wait, allow the instantaneity of Twitter drive event engagement.</p>
                <a ng-click="showSearchInput()" class="btn btn-primary btn-xl page-scroll btn-creative" ng-show="showSearchInput">Start your event</a>
            </div>
            <div class="input-group start-event wow bounceIn" ng-hide="showSearchInput">
                <tags-input placeholder="Add new hashtag" min-length="2" min-tags="1" max-tags="3" id="eventHashtag" on-tag-added="newKeywordAdded($tag)" on-tag-removed="keywordRemoved($tag)" ng-model="eventHashtag"></tags-input>
                <span class="input-group-btn">
                  <button class="btn btn-search" ng-click="startNewEvent()" type="button">
                    <i class="fa fa-search fa-2x"></i>
                  </button>
                </span>
                <div class="sk-cube-grid" id="search-loading" ng-show="loading">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </div>
            <div class="note">{{validHashtag}}</div>
        </div>
    </header>

    <main class="">
        <section class="homepage-section bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-6 text-center">
                        <h2 class="section-heading">We've got what you need .. 100% customizable</h2>
                        <hr class="light">
                        <p class="text-faded">You can run your event on our server totally customizable and also use all current features like, White & Black users lists, Presentation views custom UI with your favoruite colors and screens</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="homepage-section" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-md-24 text-center">
                        <h2 class="section-heading">Tweets Moderation</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-star wow bounceIn text-primary"></i>
                            <h3>Star Tweets</h3>
                            <p class="text-muted">If you see that there is a good voice tweet you want your audicane to focus on it you can star it.</p>
                        </div>
                    </div>
                    <div class="col-md-8 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Trusted / Blocked Users</h3>
                            <p class="text-muted">Trusted users is allowed to be automatically approved, You can also Block specific user and you will not see his/her tweets any more.</p>
                        </div>
                    </div>
                    <div class="col-md-8 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Close Moderation</h3>
                            <p class="text-muted">If you don't have time to moderate your event you can close moderation at all. Tweets will be sended automatically to presentation screen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="homepage-section header-homepage testmonials">
            <div class="overlay"></div>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Perfect views for your event</h1>
                    <hr class="light">
                    <p><strong>Eventyzer</strong> gives you the ability to change your presentation screens style.</p>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <div ng-include src="'views/admin/homepage-footer.html'"></div>

</div>