<h2>Facebook</h2>
<aside class="col-md-8">
    <section>
        <div ng-include="'views/views-panels/facebook-sources.html'"></div>
    </section>
</aside>
<section class="col-md-16">
    <article class="media clearfix tweet fx-fade fx-speed-2000" ng-repeat="post in fbQueue">
        <div class="tweet-content">
            <div class="media-left">
                <a ng-href="{{post.url}}" target="_blank" class="pull-left tweet-userName">
                    <img src="{{post.image_url}}" class="media-object user-img" />
                </a>
            </div>
            <div class="media-body tweet-content">
                <h6 class="media-heading tweet-user clearfix">                
                    <h4>{{post.source}}</h4>
            </h6>
                <p>
                    <a ng-href="{{post.url}}" target="_blank" class="">
                        {{post.text}}
                    </a>
                </p>
                <p>
                    <span class="text-muted">{{post.date}}</span>
                </p>
            </div>
        </div>
    </article>
</section>
