<footer class="clearfix text-center">
    <div class="container">
       <p>{{appName}} ™ for KACST GIS Technology Innovation Center at Umm Al-Qura University</p>
<!--
        <ul class="list-inline social-links">
           <li>Connect with us: </li>
            <li ng-repeat="link in socialLink">
                <a href="{{link.url}}" title="{{link.title}}">
                    <span class="icon-{{link.icon}}"></span>
                </a>
            </li>
        </ul>
-->
    </div>
</footer>