<footer class="clearfix text-center">
    <div class="container">
       <p>{{appName}} is a trademark related to GISTIC at Umm Al-Qurra University</p>
        <ul class="list-inline social-links">
           <li>Connect with us: </li>
            <li ng-repeat="link in socialLink">
                <a href="{{link.url}}" title="{{link.title}}">
                    <span class="icon-{{link.icon}}"></span>
                </a>
            </li>
        </ul>
        <small class="">© 2015 {{appVersion}}</small>
    </div>
</footer>