<!-- HEADER -->
<header class="header header-homepage clearfix">

    <div class="container">

        <a class="navbar-logo pull-left" ui-sref=".home">
            <img src="assets/images/hashtag_logo.png" alt="">
            <span class="header-title">HASHTAG ANALYSER</span>
        </a>

        <div class="navs">

            <ul class="list-inline dashboard-nav pull-left">
                <li>
                    <a ui-sref=".home">Home</a>
                </li>
                <li>
                    <a ui-sref=".about">About</a>
                </li>
                <li>
                    <a ui-sref=".contact">Contact</a>
                </li>
            </ul>
        </div>

    </div>
</header>