<!-- HEADER -->
<nav class="navbar navbar-inverse navbar-fixed-top clearfix" ng-class="{ 'header-dashboard' : dashboardState }">

    <div class="container">

        <a class="navbar-logo pull-left" ui-sref="home">
            <img src="assets/images/ministry-of-hajj-logo.png" alt="" width="30px" height="30px">
            <span ng-hide="dashboardState" class="icon-hash"></span>
            <span ng-hide="dashboardState" class="header-title">Hajj</span>
        </a>

        <div class="navs pull-left clearfix">

            <ul class="list-inline homepage-nav pull-left" ng-hide="dashboardState">
                <li class="hvr-underline-from-center">
                    <a ui-sref="fbPages.index">Facebook pages</a>
                </li>
                <li class="hvr-underline-from-center">
                    <a ui-sref="keywords.index">Keywords</a>
                </li>
                <li class="hvr-underline-from-center">
                    <a ui-sref="emails.index">Emails</a>
                </li>
            </ul>

        </div>

        <form ng-show="dashboardState" class="navbar-form pull-left" role="search">
            <div class="form-group">
                <div class="input-group start-event">
                    <input type="search" id="eventHashtag" class="form-control" placeholder="#Hashtag" ng-model="eventHashtag" value="" ng-enter="dashboardSearch()">
                    <span class="input-group-btn">
                        <button class="btn btn-search" type="button" ng-click="dashboardSearch()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <span class="search-error" ng-show="searchError"></span>
        </form>

        <div class="navs pull-right clearfix">

            <ul class="list-inline dashboard-nav pull-left" ng-show="dashboardState">
                <li class="hvr-underline-from-center" ng-class="{active : isActive('dashboard.liveStreaming')}">
                    <a ui-sref=".liveStreaming">Tweets</a>
                </li>
                <li class="hvr-underline-from-center" ng-class="{active : isActive('dashboard.media')}">
                    <a ui-sref=".media">Media</a>
                </li>
                <li class="hvr-underline-from-center" ng-class="{active : isActive('dashboard.news')}">
                    <a ui-sref=".news">News</a>
                </li>
                <li class="hvr-underline-from-center" ng-class="{active : isActive('dashboard.facebook')}">
                    <a ui-sref=".facebook">Facebook</a>
                </li>
                <li class="hvr-underline-from-center" ng-class="{active : isActive('dashboard.map')}">
                    <a ui-sref=".map">Map</a>
                </li>
            </ul>

            <ul class="list-inline pull-left">
                <li class="nav-user dropdown" ng-show="logedInUser">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">
                        <img lazy-load ng-src="{{authoUserPicture}}" on-error-src="{{defultImage}}" class="" /> {{authoUserName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-href="https://twitter.com/intent/user?user_id={{authoUserID}}" target="_blank">Go to profile</a>
                        </li>

                        <li><a target="_blank" href="http://212.107.125.141/app/" lang="en"><i class="icon-twitter"></i> Taghreed</a></li>

                        <li>
                            <a ng-click="logOutUser()">Logout</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a ng-click="twitterLogIn()" ng-hide="logedInUser" class="btn btn-block btn-social btn-twitter btn-rounded">
                        <i class="icon-twitter"></i> Sign in with Twitter
                    </a>
                </li>

            </ul>

        </div>

    </div>
</nav>
