<!-- HEADER -->
<header class="header header-homepage clearfix">

    <div class="container">

        <a class="navbar-logo pull-left" ui-sref="home">
            <img src="assets/images/hashtag_logo.png" alt="">
            <span ng-hide="dashboardState" class="header-title">HASHTAG ANALYSER</span>
        </a>

        <form ng-show="dashboardState" class="navbar-form pull-left" role="search">
            <div class="form-group">
                <div class="input-group start-event">
                    <input type="search" id="eventHashtag" class="form-control" placeholder="#Hashtag" ng-model="eventHashtag" value="" ng-enter="dashboardSearch()">
                    <span class="input-group-btn">
                        <button class="btn btn-search" type="button" ng-click="dashboardSearch()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <span class="search-error pull-left" style="display: none;"></span>
        </form>
        

        <div ng-hide="dashboardState" class="navs">

            <ul class="list-inline dashboard-nav pull-left">
                <li class="hvr-underline-from-center">
                    <a ui-sref="home">Home</a>
                </li>
                <li class="hvr-underline-from-center">
                    <a ui-sref="about">About</a>
                </li>
                <li class="hvr-underline-from-center">
                    <a ui-sref="contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="navs pull-right clearfix">

            <ul class="list-inline dashboard-nav pull-left">
                <li ng-show="dashboardState" class="hvr-underline-from-center" ng-class="{active : isActive('dashboard.liveStreaming')}">
                    <a ui-sref=".liveStreaming">Tweets</a>
                </li>
                <li ng-show="dashboardState" class="hvr-underline-from-center" ng-class="{active : isActive('dashboard.media')}">
                    <a ui-sref=".media">Media</a>
                </li>
                <li ng-show="dashboardState" class="hvr-underline-from-center" ng-class="{active : isActive('dashboard.map')}">
                    <a ui-sref=".map">Map</a>
                </li>

                <li role="presentation" class="nav-user dropdown" ng-show="logedInUser">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">
                        <img lazy-load ng-src="{{authoUserPicture}}" on-error-src="{{defultImage}}" class="" /> {{authoUserName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-href="https://twitter.com/intent/user?user_id={{authoUserID}}" target="_blank">Go to profile</a>
                        </li>
                        <li>
                            <a ng-click="logOutUser()">Logout</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a ng-click="getTwitterAuth(true)" ng-hide="logedInUser" class="btn btn-block btn-social btn-twitter">
                        <i class="fa fa-twitter"></i> Sign in with Twitter
                    </a>
                </li>
            </ul>

        </div>

    </div>
</header>