<aside class="col-md-8">

    <section>
        <div ng-include="'views/views-panels/media-panel.html'"></div>
    </section>

    <section>
        <div ng-include="'views/views-panels/tweets-overtime-panel.html'"></div>
    </section>

    <section>
        <div ng-include="'views/views-panels/tweets-location-panel.html'"></div>
    </section>

    <section>
        <div ng-include="'views/views-panels/tweets-per-country-panel.html'"></div>
    </section>

    <section>
        <div ng-include="'views/views-panels/tweets-sources.html'"></div>
    </section>

    <section>
        <div ng-include="'views/views-panels/top-people-panel.html'"></div>
    </section>

    <section>
        <div ng-include="'views/views-panels/languages-panel.html'"></div>
    </section>

    <section>
        <div ng-include="'views/views-panels/hashtags-cloud-panel.html'"></div>
    </section>


</aside>

<section class="col-md-16">

    <aside class="tweets-queue-options clearfix">

        <div class="segmented-control pull-left" style="color: #066CB2" ng-init="tab = 1">
            <input type="radio" name="sc-1-1" id="allTweets" ng-click="showLoadMoreButton()" ng-class="{active:tab===1}" checked>
            <input type="radio" name="sc-1-1" id="mostPopular" ng-click="loadMostPopular()" ng-class="{active:tab===2}">
            <label for="allTweets" data-value="All tweets" ng-click="tab = 1">All tweets</label>
            <label for="mostPopular" data-value="Most popular" ng-click="tab = 2">Most popular</label>
        </div>
        <!-- This is temp button to test POC implemenation for downaloding current view as pdf -->
        <button class="btn btn-info" data-ng-click="downloadPdfReport()">Temp button: Download PDF Report</button>


        <div ng-show="loading" class="loading pull-left">
            <div class="bullet"></div>
            <div class="bullet"></div>
            <div class="bullet"></div>
        </div>


        <strong class="pull-right" ng-show="showTotalTweetsNumber">{{totalTweetsCount}} tweets</strong>
    </aside>

    <button type="button" class="btn btn-load-more" ng-show="loadMoreButton()" ng-click="loadMoreTweets()"><strong><i class="fa fa-arrow-up"></i></strong> {{remainingTweetsCount}} New Tweets</button>

    <div ng-show="tab === 1" ng-include="'views/views-components/tweetQueue.html'"></div>
    <div ng-show="tab === 2" ng-include="'views/views-components/topTweetsQueue.html'"></div>

</section>