<aside class="col-md-8">
    <section>
        <div class="panel panel-default panel-media">
            <div class="panel-heading clearfix">
                <a ui-sref=".media" class="text-left">Media ></a>
                <span class="text-muted pull-right">{{mediaCount}} Pics & Videos</span>
            </div>
            <div class="panel-body">    
               <div ng-repeat="row in (mediaQueue.length/3 | array) | limitTo : 3" class="row">
                    <div class="all-media-container col-md-8" ng-repeat="media in mediaQueue.slice(3*$index, 3*$index + 3) | limitTo : 3">
                        <a href="#">
                            <img class="img-responsive" lazy-load ll-src="{{tweetMedia}}" on-error-src="{{defultImage}}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a href="#" class="text-left">Map</a>
                <span class="text-muted pull-right">29 Countries</span>
            </div>
            <div class="panel-body">
                Map
            </div>
        </div>
    </section>
    <section>
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <a href="#" class="text-left">Tweet over time</a>
                <span class="text-muted pull-right">{{totalTweets}} tweets</span>
            </div>
            <div class="panel-body">
                <highchart id="chart1" config="chartConfig" class=""></highchart>
            </div>
        </div>
    </section>
    <section>
        <div class="panel panel-default panel-top-people">
            <div class="panel-heading">Top people</div>
            <div class="panel-body">
                <div class="top-user-container" ng-repeat="tweet in tweetsQueue | limitTo : 10">
                    <a href="#">
                        <img lazy-load ll-src="{{tweet.user.profile_image_url_https}}" on-error-src="{{defultImage}}" />
                    </a>
                </div>
            </div>
        </div>
    </section>
</aside>

<section class="col-md-16">

    <aside class="tweets-queue-options clearfix">
        <select name="" id="" class="pull-left">
            <option value="">Most Popular</option>
            <option value="">Most Recent</option>
        </select>
        <strong class="pull-right">{{totalTweets}} tweets</strong>
    </aside>

    <article class="media clearfix tweet" id="{{tweet.id_str}}" ng-repeat="tweet in tweetsQueue | limitTo : tweetsQueueLimit()" data-user-id="{{tweet.user.id_str}}">
        <div class="media-left">
            <img lazy-load ll-src="{{tweet.user.profile_image_url_https}}" on-error-src="{{defultImage}}" class="media-object user-img" />
        </div>
        <div class="media-body tweet-content">
            <h6 class="media-heading tweet-user">
                        <a href="{{twitterBaseUrl}}{{tweet.user.screen_name}}" target="_blank">
                            {{tweet.user.screen_name}}
                        </a>
                        <small>{{tweet.created_at}}</small>
                    </h6>
            <p>{{tweet.text}}</p>
        </div>

    </article>

</section>