<section class="col-md-24">
    <aside class="tweets-queue-options clearfix">
        <select name="" id="" class="pull-left">
            <option value="">Most Popular</option>
            <option value="">Most Recent</option>
        </select>
        <strong class="pull-right">{{totalMedia}} Pic & Videos</strong>
    </aside>

    <div class="all-media-container col-md-4" ng-repeat="media in mediaQueue track by $index">
        <a ng-click="Lightbox.openModal(mediaQueue, $index)">
            <img class="img-responsive" lazy-load ll-src="{{media.thumb}}" on-error-src="{{defultImage}}" />
            <i ng-if="media.type == 'photo'" class="fa fa-camera"></i>
            <i ng-if="media.type == 'video'" class="fa fa-video"></i>
        </a>
    </div>
</section>