<h2>NEWS</h2>

<article class="media clearfix tweet fx-fade fx-speed-2000" ng-repeat="news in newsQueue">

	<div class="tweet-content">
       
        <div class="media-left">
           	<a ng-href="{{news.url}}" target="_blank" class="pull-left tweet-userName">
                    <img lazy-src="{{news.image_url}}" on-error-src="{{news.image_url.replace('http://t0','http://t1')}}" class="media-object user-img" />
            </a>
        </div>
        <div class="media-body tweet-content">
           
            <h6 class="media-heading tweet-user clearfix">                
                    <h4>{{news.source}}</h4>
            </h6>
			
            <p>

			     	<a ng-href="{{news.url}}" target="_blank" class="">
	                    {{news.title}}
	            	</a>
            
			</p>
			
            <p>
                <span>{{news.country==='eg' ? "مصر" : "السعودية"}}</span>
                <span class="fa fa-map-marker"></span>
            </p>

            <p>
                <span class="text-muted">{{news.date}}</span>
            </p>
            
        </div>
    </div>

</article>
