<article class="media clearfix tweet" id="{{tweet.id_str}}" ng-repeat="tweet in topTweets track by $index" data-user-id="{{tweet.user.id_str}}">

    <div class="media-left">
        <img lazy-src="{{tweet.user.profile_image_url_https}}" on-error-src="{{defultImage}}" class="media-object user-img" />
    </div>

    <div class="media-body tweet-content">
        <h6 class="media-heading tweet-user clearfix">
            <a ng-href="{{twitterBaseUrl}}{{tweet.user.screen_name}}" target="_blank" class="pull-left">
                {{tweet.user.screen_name}}
            </a>
           <a class="pull-right" ng-href="{{twitterBaseUrl}}{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="_blank">
               <small am-time-ago="tweet.created_at"></small>
           </a>
        </h6>
        <p>
            {{tweet.text}}
        </p>
        <strong class="text-muted">{{tweet.user.location}}</strong>
    </div>

</article>