<article class="media clearfix tweet fx-fade-down fx-speed-2000" id="{{tweet.id_str}}" ng-repeat="tweet in tweetsQueue | orderBy:'created_at':true" data-user-id="{{tweet.user.id_str}}">
   
    <div class="media-left">
        <img lazy-load ng-src="{{tweet.user.profile_image_url_https}}" on-error-src="{{defultImage}}" class="media-object user-img" />
    </div>
    <div class="media-body tweet-content">
        <h6 class="media-heading tweet-user clearfix">
            <a ng-href="{{twitterBaseUrl}}{{tweet.user.screen_name}}" target="_blank" class="pull-left tweet-userName">
                {{tweet.user.screen_name}}
            </a>
           <a class="pull-right" ng-href="{{twitterBaseUrl}}{{tweet.user.screen_name}}/status/{{tweet.id_str}}" target="_blank" title="{{tweet.created_at}}">
               <small am-time-ago="tweet.created_at"></small>
           </a>
        </h6>
        <p ng-bind-html="tweet.text | linky:'_blank'"></p>
        <strong class="text-muted">{{tweet.user.location}}</strong>
    </div>


</article>

<div class="text-center">
    <a class="btn btn-link btn-block btn-load-history"  ng-click="loadMoreTweetsFromHistory()">Load More</a>
</div>

