footer {
    padding: $padding - 5 0 0;
    border-top: 1px solid $gray-light;
    margin: $margin*3 0 $margin;
    .social-links {
        a {
            color: $gray;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
    &.views--footer {
        bottom: -10px;
        position: absolute;
        border: none;
        background: rgba(13, 13, 13, 0.60);
        @include size(100%, 45px);
        p {
            color: $white;
            @include font-size($font-small);
        }
    }
}

