.header {
    @include background-image(linear-gradient(right, #0056bd, #015bbb, #015fb7, #0465b6, #066db2, #0872ae, #0872b0, #0877ac, #0b81a9, #0d89a5, #0e8ca2, #0d8ea1, #0f939f, #11969d, #12999c, #129d9a, #13a497, #15a895, #15a895, #15ae90));
    margin-bottom: $margin;
    padding: 0;
    .navbar-form {
        margin-top: $margin;
    }
    .dashboard-nav {
        line-height: 32px;
        margin-left: 40px;
        li {
            padding: 0;
            a {
                padding: 7px 5px;
                display: inline-block;
            }
            &:hover {
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            &.active.hvr-underline-from-center {
                &:before {
                    background: rgb(255, 255, 255);
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    .navs {
        a {
            color: $white;
        }
        .nav-user {
            margin-left: $margin * 5;
            a {
                &:hover, &:focus {
                    text-decoration: none;
                }
            }
            img {
                @include size(28px);
                @include border-radius(10%);
            }
            .dropdown-menu {
                background: rgba(253, 253, 253, 0.9);
                @include box-shadow(none);
                border: none;
                top: 103%;
                padding: 0;
                li {
                    a {
                        color: $gray;
                        padding: $padding - 5 $padding + 5;
                        &:hover, &:focus {
                            background: #015fb7;
                            color: $white;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .navbar-logo {
        line-height: 47px;
        img {
            margin-right: $margin;
            @include size(30px);
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    // Search in Dashboard
    .start-event {
        .form-control {
            background: $white;
            padding: 0 $margin;
            @include border-left-radius(3px);
            height: 29px;
        }
        .btn.btn-search {
            @include border-right-radius(5px);
            margin-left: $margin * 2;
            padding: $padding / 3 $padding;
        }
    }
    .input-group {
        @include phone {
            text-align: center;
            display: inline-block;
        }
    }
    .header-title {
        color: $white;
        margin-left: $margin;
        @include font-size($font-tiny);
    }
}

.search-homepage {
    .start-event {
        input {
            @include border-radius(0);
            font-size: 60px;
            font-weight: 300;
            height: 100%;
            padding: 58px 30px;
            color: $white;
            background: rgb(35, 35, 36);
            @include placeholderColor($gray-super-light, 0.5);
        }
        .btn.btn-search {
            z-index: 99;
            background: rgb(12, 133, 167);
            @include border-radius(50%);
            @include size(75px);
            position: absolute;
            top: 31.5%;
            right: 30px;
        }
    }
}

.header-homepage {
    @extend .header;
    margin: 0;
    .search-error {
        color: $white;
        @include font-size($font-tiny);
    }
}