.homepage-boxes {
    margin: $margin * 5 0;
    @include phone {
        margin: $margin * 3 0;
    }
    .box {
        @include phone {
            margin-bottom: $margin * 3;
        
        }
    }
    .icon {
        color: $dark-green;
    }
    h4 {
        @include font-size($font-normal);
        margin: $margin 0;
    }
    p {
        @include font-size($font-tiny);
        color: lighten($gray-dark, 30%);
        font-weight: 200;
        @include size(60%, auto);
        margin-left: auto;
        margin-right: auto;
    }
}
