.all-media-container {
    margin-top: $margin * 2;
    img {
        @include size(200px);
        margin-bottom: $margin;
        @include border-radius(3px);
    }
}

.masonry-brick {
    width: 18%;
    margin-bottom: $margin;
    img {
        position: relative;
        -webkit-transition: all .6s;
        transition: all .6s;
    }
    .media-type-icon {
        position: absolute;
        z-index: 9;
        top: -30px;
        left: 175px;
        right: 0;
        bottom: 0;
        i {
            margin: auto;
            line-height: 100px;
            color: $white;
            @include font-size($font-tiny);
        }
    }
    &:hover {
        cursor: pointer;
    }
    &:hover {
        img {
            z-index: 999;
        }
    }
}