.tweet {
    background: $white;
    padding: $padding / 2;
    border: 1px solid $gray-light;
    @include border-radius(3px);
    margin-top: $margin;
    text-align: left;
    .user-img {
        @include size(72px);
        @include border-radius(3px);
    }
    .tweet-user {
        @include font-size($font-small);
        font-weight: bold;
    }
    .tweet-content {
        word-wrap: break-word;
    }
    .tweet-userName {
        color: $blue;
    }
    .tweet-screenName {
        font-style: italic;
        color: darken($gray-super-light, 40%);
    }
    &.tweet:first-child {
        opacity: 1;
    }
}

.tweet.lang-ar {
    @extend .tweet;
    direction: rtl;
    text-align: right;
    .user-img {
        float: right;
        padding-right: 0;
        padding-left: $padding;
    }
    .media-body {
        margin-left: 0;
        margin-right: $margin;
    }
}

.tweets-queue {
    @include phone {
        .tweet {
            img {
                @include size(48px);
            }
        }
    }
}

.tweets-queue-options {
    margin-bottom: $margin * 2;
}