<!-- Header -->
<div ng-include="'views/views-components/header.html'"></div>

<!-- END OF / Header -->

<div class="flexbox tilesWall">

    <div class="event-box shading" ng-repeat-start="event in homepageEvents | limitTo : 9">
        <a ng-click="createEventFromTrending(event.hashTags)" class="full-box-link"></a>
        <div class="mediaBox">
            <img ng-src="{{event.mediaUrl || mediaUrl}}" class="img-responsive">
        </div>
        <header>
            <h2><a href="#">#{{event.hashTags || event.hashtags}}</a></h2>
            <p class="meta">{{event.noOfTweets}} Tweets</p>
            <p am-time-ago="event.startTime" class="meta"></p>

            
            <h3 class="created-by">
                <img ng-src="{{event.profileImgUrl || event.prfoileImageUrl}}" alt="{{event.hashTags}}" class="img-circle">
                <a href="#">@{{event.screenName}}</a>
            </h3>

        </header>
    </div>

    <div class="event-box search-box tile" ng-class="{'showed':$index == 4}">

        <div class="search-homepage">
            <div class="start-event">
                <input type="search" ng-model-options="{allowInvalid: true}" name="hashtag" id="eventHashtag" focus-me="shouldBeOpen" class="form-control" placeholder="#Hashtag" ng-model="$parent.eventHashtag" value="" ng-enter="startNewEvent()">
                <span class="search-error" style="display: none;"></span>
                <button class="btn btn-search" type="button" ng-click="startNewEvent()">
                    <i class="fa fa-search fa-2x"></i>
                </button>
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="event-box trending-box" ng-if="$index == 8" ng-repeat-end>
        <ul>
            <li class="list-header">Trending in Twitter</li>
            <li ng-repeat="event in trendingHashtags | limitTo : 5"><a ng-href="{{twitterBaseUrl}}search?q={{event}}" target="_blank">#{{event}}</a>
            </li>
        </ul>
    </div>

</div>

<!-- Footer -->
<div ng-include="'views/views-components/footer.html'"></div>
<!-- END OF / Footer -->