<!-- Header -->
<div ng-include="'views/views-components/header.html'"></div>

<!-- END OF / Header -->

<div ng-show="loadData" class="overlay overlay-homepage">
    <div class="loadEvents loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
    </div>
</div>

<div class="flexbox tilesWall">

    <div class="event-box shading" ng-repeat-start="event in homepageEvents | limitTo : 21">

        <!-- Check if event is trending or server one -->
        <a ng-if="event.hashtags" ng-click="createEventFromTrending(event.hashtags, event.uuid)" class="full-box-link"></a>
        <a ng-if="!event.hashtags" ng-click="createEventFromTrending(event)" class="full-box-link"></a>

        <div class="mediaBox">
            <img ng-src="{{event.mediaUrl}}" class="img-responsive">
        </div>

        <header>

            <h2><a href="#">#{{event.hashtags || event}}</a></h2>
            <h3 ng-if="event.profileImageUrl" class="created-by">
                <img ng-src="{{event.profileImageUrl}}" alt="{{event.hashtags}}" class="img-circle">
                <a href="#">@{{event.screenName}}</a>
            </h3>

            <span class="meta">
                <span ng-if="event.noOfTweets">{{event.noOfTweets}} Tweets</span>
            <span ng-if="!event.noOfTweets">Running Now</span>

            <span ng-if="event.startTime">
                    - 
                    <span am-time-ago="event.startTime"></span>
            </span>

            </span>

        </header>

    </div>

    <!-- Search Box -->
    <div class="event-box search-box tile" ng-class="{'showed':$index == 4}">

        <div class="search-homepage">
            <div class="start-event">
                <input type="search" ng-model-options="{allowInvalid: true}" name="hashtag" id="eventHashtag" focus-me="shouldBeOpen" class="form-control" placeholder="#Hashtag" ng-model="$parent.eventHashtag" value="" ng-enter="startNewEvent()">
                <span class="search-error" style="display: none;"></span>
                <button class="btn btn-search" type="button" ng-click="startNewEvent()">
                    <i class="fa fa-search fa-2x"></i>
                </button>
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Trending Twitter -->
    <div class="event-box trending-box" ng-if="$index == 8" ng-repeat-end>
        <h4 class="list-header">Trending in Twitter</h4>
        <ul class="col-md-12">
            <li ng-repeat="event in trendingHashtags | limitTo : 4">
                <a ng-click="createEventFromTrending(event)">#{{event}}</a>
            </li>
        </ul>
        <ul class="col-md-12">
            <li ng-repeat="event in trendingHashtags | orderBy: index : reverse | limitTo : 4">
                <a ng-click="createEventFromTrending(event)">#{{event}}</a>
            </li>
        </ul>
    </div>

</div>

<!-- Footer -->
<div ng-include="'views/views-components/footer.html'"></div>
<!-- END OF / Footer -->