button,
.btn {
	border: none;
	padding: $button-padding;
	background: $button-bg;
	color: $white;
}

.btn-search {
	background: $gray-light;
	padding: $padding - 8 $padding;
}

.tweet-options {
	button, .btn {
		background: $gray-super-light;
		border: 1px solid $gray-light;
		color: $gray;
	}
}