.icon-massive {
    font-size: $font-massive;
}
.icon-huge {
    font-size: $font-huge;
}
.icon-large {
    font-size: $font-large;
}
.icon-normal {
    font-size: $font-normal;
}
.icon-small {
    font-size: $font-small;
}
.icon-tiny {
    font-size: $font-tiny;
}
