.btn {
	border: none;
	padding: $button-padding;
	background: $button-bg;
	color: $white;
	&:hover,
	&:focus,
	&:active:focus,
	&:active.focus {
		color:$white;
		outline: 0;
	}
    &.hvr-rectangle-out {
        &:hover {
            border: 1px solid #2098d1;
        }
    }
	&.btn-search {
		background: $gray-light;
		padding: $padding - 8 $padding;
	}
	&.btn-stop {
		background: $orange;
	}
	&.btn-load-more {
		background: $blue;
		position: fixed;
		z-index: 9;
		right: 30px;
		bottom: 25px;
        @include size(150px, 40px);
		@include border-radius(50px);
		@include box-shadow(rgba(darken($blue, 50%), 0.2) 0 0 15px);
		strong {
            @include size(20px);
			@include border-radius(50%);
			background: darken($blue, 20%);
			display: inline-block;
			i {
                @include font-size($font-tiny);
			}
		}
	}
}

.tweet-options {
	button, .btn {
		background: $gray-super-light;
		border: 1px solid $gray-light;
		color: darken($gray, 40%);
	}
}
